table {
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

th, td {
    width: 100px;
    border-bottom: 1px solid white;
}

th:first-child, td:first-child {
    width: 50px;
}

th {
    background-color: #04983a;
    color: white;
}

tr:nth-child(odd) {
    background-color: #04983a;
    color: white;
}

tr:nth-child(even) {
    background-color: #240da5;
    color: white;
}

tr:hover {
    background-color: #f20e0e; 
    color: rgb(83, 83, 83); 
}
